<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EAG Watson Assistant Speech Lab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styles.css' /> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/watson-speech.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body onLoad="init()"> 
    <div class="container" style="text-align: center"><body class="container">
      <div class="row"><div class="col-md-12"><p><h2>IBM EAG Watson Assistant/Speech Lab</h2></p></div></div>